.brewery-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5%;
a {
    text-decoration: none;
}
h2 {
    margin-top: 15%;
    font-size: 1.7em;
}
h3 {
    margin:0 0 8%;
}
h4 {
    font-size: 1.1em;
    color:rgb(39, 23, 23);
    margin: 7% 0;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #4b3535;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 30px;
    line-height: 3;
    background: #4b3535;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 0 0 1em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: -0.5em;
    right: 0;
    padding: 0 1em;
    background: #4b3535;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  } 
}