.homepage {
    margin-top: 6%;
    h1{
        font-size: 3.5em;
        font-weight: 900;
    }
    h2 {
        font-size: 1.5em;
        font-weight: 700;
    }
    img {
        margin-top:5%;
        width:200px;
    }
}