.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .search-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 4%;
        width:45vw;
        input {
          width:60%;
          margin-right:2%;
          border-radius: 5px;
          height: 18px;
          border: 1px solid #46464681;
          padding-left:5px;
        }
        button {
          color:#240603b9;
          font-weight: bold;
          background-color: #ffb700ec;
          border-radius: 5px;
          padding:2% 4%;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: #ffb700ec;
            background-image: none;
            
          }
          /* Remove IE arrow */
          select::-ms-expand {
            display: none;
          }
          /* Custom Select */
          .select {
            position: relative;
            display: flex;
            width: 7em;
            height: 23px;
            line-height: 3;
            background: #ffb700ec;
            overflow: hidden;
            border-radius: .25em;
          }
          select {
            flex: 1;
            padding: 0 0 0 1em;
            color: #240603b9;
            font-weight: bold;
            cursor: pointer;
          }
          /* Arrow */
          .select::after {
            content: '\25BC';
            position: absolute;
            top: -0.45em;
            right: 0;
            padding: 0 0.5em;
            font-size: 0.7em;
            background: #ffb700ec;
            cursor: pointer;
            pointer-events: none;
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
          }
          /* Transition */
          .select:hover::after {
            color: #4b3535;
          } 
    }
    .beers-box {
        column-count:2;
        -moz-column-count:2;
        -webkit-column-count:2;  
        width: 100%;
        margin: 0 0 2% 15%;
        text-align: left;
        padding:0 10%;
        @media screen 
        and (min-width: 300px)
        and (max-width: 650px) { 
            width: 90%;
        }
        h5 {
            margin: 0 0 3% 0;
        }
        a {
            margin:0;
            text-decoration: none;
            color: rgb(39, 23, 23);
        }
        p {
            display:none
        }
    }
}