.single-brew-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 2% 0 1% 0;
    }
    a {
        color:rgb(39, 23, 23);
    }
    h5 {
        margin:0 0 2% 0;
    }
    .brew-img-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        .brew-img {
            margin: 2% 0;
            img {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 15px;
            }
        }
        .brew-description {
            display: flex;
            flex-direction: column;
            text-align: justify;
            margin: 3% 5% 5% 5%;
            padding: 0 5%;
            @media screen 
            and (min-width: 300px)
            and (max-width: 650px) { 
                margin: 3% 0 5% 0;
            }
            p {
                margin:0 0 1% 0;
                line-height: 1.5em;
            }
        }
    }
    .beers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 2% 0;
    .beersCounter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
    .beers-box {
        column-count:2;
        -moz-column-count:2;
        -webkit-column-count:2;  
        width: 85%;
        margin: 0 0 2% 0;
        text-align: left;
        @media screen 
        and (min-width: 300px)
        and (max-width: 650px) { 
            width: 90%;
        }
        h5 {
            margin: 0 0 3% 0;
        }
        a {
            margin:0;
        }
    }
}
}