.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(https://res.cloudinary.com/mokaweb/image/upload/v1588087036/PXl.WIDGETS/brewery-wallpaper.jpg);
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  .scrollbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 82vh;
    background: rgba(255, 255, 255, 0.800);
    border-radius: 10px;
    overflow-y: scroll;
    .force-overflow {
      min-height: 450px;
    }
    @media screen 
    and (min-width: 300px)
    and (max-width: 900px) { 
          width: 95%;
          margin-left:2px;
    }
  }
  #style-2::-webkit-scrollbar-track {
      border-radius: 10px;
  }

  #style-2::-webkit-scrollbar {
      width: 12px;
  }
  #style-2::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #ffb700ec;
  }
}